body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.contact::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 1rem;
    height: 1rem;
    background-size: cover;
}

/* Here you write your styles... */

.main-quote {
    margin: 0 0 20px 0;
    font-style: italic;
    font-size: 1.5rem;
    color: #8C92AC;
}

.main-header {
    background-image: linear-gradient(99.9deg, rgba(27, 24, 31, 1) 21.2%, rgba(50, 4, 89, 1) 84.8%);
    background-color: purple;
    color: #fff;
    padding: 2rem;
}

.avatar-figure {
    background-image: url('images/stars.jpg');
    background-color: rgb(47, 47, 91);
    background-size: cover;
    margin: 0;
    padding: 1rem;
}

.avatar-figure img {
    border: 3px solid #fff;
}

.contacts {
    max-width: 50%;
    padding: 1rem;
    border: 3px solid #fff;
    color: #fff;
}

.contacts li {
    list-style: none;
    display: inline-block;
}

a.contact:visited {
    color: rgb(128, 128, 128);
}

a.contact:active {
    color: rgb(151, 154, 170);
}

.contact-phone::before {
    background-image: url('images/phone-call.svg');
}

.contact-inst::before {
    background-image: url('images/instagram-logo.svg');
}

.contact-twitter::before {
    background-image: url('images/twitter.svg');
}

/* H1 tag */
h1 {
    padding-bottom: 30px;
    border-bottom: 3px solid rgb(112, 128, 144);
}

/* Sections and Section Summary styles */
section {
    padding: 2rem;
}

.summary {
    text-shadow: 1px 1px 2px pink;
}

.space {
    background: url('images/rocket_big.png') no-repeat center, url('images/space.jpg') no-repeat bottom center;
    float: left;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: 15px;
}

/* Work experience section */
.work-experience {
    margin-top: 2rem;
}

/*.work-experience-table {*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    table-layout: fixed;
}

.work-experience-years-col {
    width: 15%;
}

.work-experience-job-title-col {
    width: 20%;
}

.work-experience-comment-col {
    width: 65%;
}

th {
    letter-spacing: 2px;
    padding: 20px;
    text-align: left;
}

td {
    letter-spacing: 1px;
    padding: 20px;
    text-align: left;
}

tfoot th {
    text-align: right;
}

thead,
tfoot {
    background-image: url('images/leopardskin.jpg');
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

caption {
    padding: 20px;
    caption-side: bottom;
    color: #666;
    font-style: italic;
    text-align: right;
    letter-spacing: 1px;
}

/* Footer styles */
.main-footer {
    background-image: linear-gradient(99.9deg, rgba(27, 24, 31, 1) 21.2%, rgba(50, 4, 89, 1) 84.8%);
    background-color: purple;
    color: #fff;
    padding: 2rem;
}
